.git
.github
.vscode
.waylog

docs

**/node_modules
**/.svelte-kit
**/.docusaurus

web/build
docs/build
seo/seomator
mail/wraps

data/*
!data/rdap-cache.json
!data/wappalyzer/
!data/wappalyzer/db.sqlite

*.log
*.tmp
